/* this is the fonts declartion */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Roboto:wght@300;400;500;700&display=swap");

html {
  width: 100%;
  box-sizing: border-box;
  background-color: #191765;
  color: #f5f5f5;
}

body {
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* header styles */
.header {
  background-image: url("./background-shapes/mobile-version/header-area-background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: absolute;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 2.5rem;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  color: #fff;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 24px;
}

.menu {
  cursor:pointer;
  width: 35px;
  height:23px;
  margin-top: 13.58px;
  margin-bottom: 13.58px;
  margin-right: 32px;
 
}

 .block{
    display: block;
    background-color: #fff;
    width: 30px;
    height:2px;
    margin:6.5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }


.nav-list {
    display: flex;
    flex-direction: column;
    position:fixed;
    inset: 0;
    background-color:#191765;
    background-image: url(./background-shapes/mobile-version/hamburgerbackground.png);
    background-repeat: no-repeat;
    background-size:100%;
    transform: translateX(100%);
    list-style: none;
    transition:0.7s; 
    padding-top: 1em;
    padding-left: 2em;
    gap:2em;
}

.menu-arrow{
position: absolute;
right:10%;

}

.close-icon {
 display: flex;
 text-align:left;
 justify-content: end;
 margin-right: 10%;
}

.close{
  text-decoration: none;
  color: #fff;
}

.nav-list.active{
  transform: translateX(0%);
}

  .nav-list li a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    color: #fff;
  }

  .mail-link{
    display:none ;
  }

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin: 47px 24px 33px 24px;
}

.my-name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #7d73fc;
  margin-bottom: 12px;
  order: 0;
}

.my-job-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #edecff;
  margin-bottom: 40px;
  order: 1;
  border-right: 3px solid purple;
  animation: typing 6s steps(19);
  overflow: hidden;
  white-space: nowrap;
  width: 16ch;
}

@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 19ch;
  }
}

.my-ability {
  width: 327px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #c8c8d4;
  order: 2;
}

/* ---skills--- */
.my-skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: flex-start;
  grid-gap: 24px;
  margin-top: 32px;
  margin-bottom: 33px;
}

.languages.frameworks.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.languages {
  gap: 12px;
  order: 0;
}

.frameworks {
  gap: 12px;
  order: 1;
}

.skills {
  gap: 16px;
  order: 2;
}

.skill-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.03em;
  color: #9490ff;
  margin: 5.33px 8px 17.33px 8px;
  order: 0;
}

.skill-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #f5f5ff;
  padding: 0 7.16667px;
  gap: 4.78px;
  list-style: none;
  order: 1;
}

/* ---ICONS AREA--- */
.supporting-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 48px 87.5px 79.85px 87.5px;
}

.social {
  display: flex;
  align-items: center;
  order: 0;
  list-style: none;
  padding: 12px 10px;
  gap: 23px;
}

.fa {
  color: #fff;
  min-width: 20px;
  min-height: 20px;
}

.social li a {
  box-shadow: 0 0 20px 10px #3c9ec1;
  border-radius: 50%;
  margin: 0 5px;
  animation: shadow 3s linear infinite;
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 0 0 #bb12bb;
    opacity: 0.06;
    transform: translateX(-50px) scale(1);
  }

  50% {
    box-shadow: 0 20px 50px rgb(221, 183, 55);
    opacity: 1;
  }
}

.short1 {
  display: flex;
  justify-content: center;
}

.above-work {
  display: flex;
  padding-left: 0.5em;
  justify-content: left;
}

.short2 {
  display: none;
}

.go-to1 {
  display: flex;
  justify-content: center;
  padding: 4px 0;
  color: #a2a3ae;
  gap: 12px;
}

.go-to2 {
  display: none;
}

.go-work {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}

/* ---PROJECTS SECTION-- */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./background-shapes/mobile-version/projects-area-background.png");
  background-repeat: no-repeat;
  background-size: 100%, 555px;
  background-position: cover;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 24px;
  margin-left: 24px;
  width: 327px;
}

.work-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 24px 120px 24px;
}

.work-heading1 {
  width: 85%;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  color: #938fff;
  margin-bottom: 33px;
}

.work-heading2 {
  display: none;
}

.all-projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 48px 24px 0 24px;
  grid-gap: 40px;
  width: 85%;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
}

.project-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #fff;
  order: 0;
}

.project-infor {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
  order: 1;
}

.used-tools {
  display: flex;
  justify-content: left;
  list-style: none;
  order: 2;
  gap: 8px;
}

.used-tools > li:last-child {
  border: none;
}

.project-list {
  border-right: 2px solid #808080;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-style: regular;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  padding: 10px 12px 10px 12px;
}

.see-prj {
  background-color: #7d73fc;
  color: #000;
  width: 89px;
  height: 48px;
  border: none;
  order: 3;
}

button.see-prj:enabled {
  background-color: #7d73fc;
}

button.see-prj:hover {
  background-color: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

button.see-prj:active {
  background-color: #5e42d7;
}

button.see-prj:disabled {
  background-color: #2a2b33;
}

/* ---FOOTER AND FORM AREA--- */
.footer {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 8px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 71px;
  grid-gap: 40px;
}

.contact-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  order: 0;
}

.contact-us {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #938fff;
  order: 0;
}

.contact-us2 {
  display: none;
}

.we-help {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f5f5ff;
  order: 1;
}

/* form */
.form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  gap: 24px;
  order: 1;
}

.name1 {
  font-size: 15px;
  line-height: 24px;
  width: 100%;
  height: 48px;
  color: #81818c;
  background-color: #fff;
  order: 0;
}

.name2 {
  display: none;
}

.email1 {
  background-color: #f7f3ff;
  border: 1px solid #9490ff;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #191765;
  width: 100%;
  height: 48px;
  order: 1;
}

.email2 {
  display: none;
}

.email1::placeholder {
  color: #191765;
  line-height: 132%;
}

.textarea1 {
  background-color: #fff;
  color: #81818c;
  width: 100%;
  padding: 0.2em;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  height: 124px;
  order: 2;
}

.textarea2 {
  display: none;
}

::placeholder {
  font-size: 15px;
  line-height: 24px;
  color: #81818c;
  padding: 15px 16px 15px 16px;
}

#see-project {
  order: 3;
}

#see-project2 {
  display: none;
}

/* --end of form-- */

.bottom-footer {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 15px;
  margin-bottom: 27px;
  justify-items: center;
}

.my-email {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ebebff;
  left: 76px;
  text-align: center;
  letter-spacing: 0.37px;
}

/* -----desktop-version------- */

@media screen and (min-width: 768px) {
  .header {
    background-image: url("./background-shapes/desktop-version/header-area-background.png");
  }

  /* ---navbar--- */
  .nav {
       margin: 1.5em 5.6em 1.6em 4.5em;
  }

  .logo {
    line-height: 20px;
  }

  .menu {
    display: none;
  }


  .nav-list {
    position: relative;
    display: flex;
    transform: translateX(10px);
    flex-direction:row;
    background-image: none;
    justify-content: space-around;
    align-content:flex-start;
    align-items: center;
    list-style: none;
    transition:0;
    gap: 1.5em;
  }

  .nav-list li a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

    .mail-link{
    display: block;
  }

  .close-icon {
    display: none;
  }


  .menu-arrow{
    display: none !important;
  }

  /* --introduction section-- */
  .introduction {
    width: 61%;
  }

  .my-name {
    font-size: 90px;
    color: #9391ff;
    margin-top: 0.9em;
  }

  .my-job-title {
    font-size: 40px;
    color: #dfe1e6;
    margin-bottom: 2em;
  }

  .my-ability {
    width: 447px;
    line-height: 32px;
    color: #b3bac5;
  }

  .my-skills {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: flex-start;
    width: 447px;
  }

  .skills-title {
    font-weight: 700;
    font-size: 18px;
  }

  .skill-list {
    font-size: 13.1389px;
    line-height: 194%;
    color: #fff;
  }

  /* ----horizontal lines--- */
  .short1 {
    display: none;
  }

  .short2 {
    display: flex;
    justify-content: center;
    width: 71%;
  }

  .long {
    width: 86%;
  }

  .long-image {
    width: 100%;
  }

  .below-form {
    width: 100%;
  }

  .go-to2 {
    display: flex;
    justify-content: center;
    padding: 4px 0;
    color: #a2a3ae;
    gap: 12px;
  }

  .supporting-items {
    width: 86%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 3em;
  }

  .fa {
    min-width: 18px;
  }

  /* ----main section---- */
  .main {
    background-image: url("./background-shapes/desktop-version/project-area-background.png");
    margin-top: 12em;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-items: left;
    margin: 0;
    width: 100%;
  }

  .work-section {
    margin-top: 1.5em;
    margin-bottom: 14.5em;
  }

  .work-heading2 {
    display: block;
    margin: 0 24px 33px 0;
    width: 85%;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #938fff;
  }

  .work-heading1 {
    display: none;
  }

  .all-projects {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding: 0;
    gap: 88px;
  }

  .project-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 90%;
  }

  .project-image {
    width: 55%;
    max-height: 448px;
    background-color: #fff;
    order: 0;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 405px;
    gap: 24px;
    width: 45%;
  }

  /* second project */
  #project2 .project-image {
    order: 1;
  }

  #project4 .project-image {
    order: 1;
  }

  #project2 {
    gap: 24px;
  }

  #project4 {
    gap: 24px;
  }

  .project-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0;
    order: 0;
  }

  .project-infor {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #dfe1e6;
    margin: 0;
    padding: 0;
    order: 1;
  }

  .project-list {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
  }

  .used-tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin: 0;
    order: 2;
  }

  .see-prj {
    background-color: #9390ff;
    margin: 0;
    color: #fff;
    order: 3;
  }

  /* ......contact form*..... */
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
  }

  .contact-section {
    align-items: center;
    width: 65%;
  }

  .contact-instructions {
    width: 90%;
  }

  .contact-us {
    display: none;
  }

  .contact-us2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #938fff;
    order: 0;
  }

  .we-help {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #ebebff;
    flex: none;
    order: 1;
  }

  .form {
    width: 90%;
  }

  .name2 {
    display: block;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #191765;
    padding-left: 9px;
    background-color: #fff;
    width: 100%;
    height: 48px;
    order: 0;
  }

  .name2::placeholder {
    color: #191765;
    font-family: "Inter", sans-serif;
  }

  .name1 {
    display: none;
  }

  .email2 {
    width: 100%;
    height: 48px;
    display: block;
    background-color: #f7f3ff;
    border: 1px solid #9490ff;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #6d6c70;
    padding-left: 9px;
  }

  .email1 {
    display: none;
  }

  .email2::placeholder {
    color: #6d6c70;
    font-family: "Inter", sans-serif;
    order: 1;
  }

  .textarea2 {
    display: block;
    width: 100%;
    background-color: #fff;
    color: #6d6c70;
    padding: 12px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    height: 124px;
    order: 2;
    line-height: 20px;
    margin-bottom: 2em;
  }

  .textarea1 {
    display: none;
  }

  .textarea2::placeholder {
    padding: 0;
  }

  #see-project {
    display: none;
  }

  #see-project2 {
    display: block;
    width: 20%;
    height: 48px;
    margin-top: 1em;
    margin-bottom: 7em;
    background-color: #938fff;
  }

  .bottom-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    text-align: center;
    padding: 0;
    gap: 24px;
  }

  .my-email-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .my-email {
    text-align: center;
    order: 1;
  }
}
