* {
  width: 100%;
  padding: 0;
  background-image: url("./Overlay.svg");
  color: aliceblue;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 75%;
  overflow-x: hidden;
}

/* toolbar styles header , logo , menubar */
.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: flex-start;
  width: 90%;
  margin-top: 10px;
  height: 7vh;
}

.logo {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-left: 18px;
  width: 110px;
  height: 16px;
  line-height: 30px;
  color: #fff;
}

.dropdown {
  font-size: 40px;
  border: none;
}

nav {
  width: 30px;
  padding-right: 10px;
  height: 16px;
  margin-right: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myname {
  width: 80%;
  margin-top: 60px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  color: #7d73fc;
  right: 0;
  left: 0;
  text-align: center;
  letter-spacing: 0.37px;
}

h2.position {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75%;
  margin: 0;
  padding-bottom: 40px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #edecff;
}

p.introduction {
  width: 327px;
  height: 170px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #c8c8d4;
  gap: 8px;
}

/* list of skills */
.language {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 20vh;
  gap: 12px;
}

.frameworks {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 20vh;
  text-align: left;
  gap: 12px;
}

.skills {
  display: flex;
  flex-direction: column;
  width: 38%;
  height: 20vh;
  padding-bottom: 40px;
  text-align: left;
  margin-top: 10%;
  margin-bottom: 10%;
  gap: 16px;
}

.title {
  display: flex;
  height: 16px;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #9490ff;
}

.experience {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: auto;
  padding-bottom: 40px;
  gap: 10px;
}

.vector-line {
  width: 350px;
  height: 0;
}

.list {
  list-style: none;
  margin: 3px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #f5f5ff;
  gap: 8px;
  padding: 5px 8px 5px 8px;
}

/* background shapes */
.shape-model1 {
  position: absolute;
  width: 160px;
  height: 160px;
  left: -106px;
  top: 0;
  background: #eeeef4;
  filter: blur(50px);
}

.shape-model2 {
  position: absolute;
  width: 68px;
  height: 68px;
  right: 25px;
  top: 595px;
  background: #eeeef4;
  filter: blur(50px);
}

/* social site link icons style */
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 24px;
  width: 120px;
  height: 40px;
}

a {
  text-decoration: none;
}

a:visited {
  border: 3px solid #ad308e;
}

a:hover {
  border: 3px solid #275c8d;
}

a:active {
  border: 3px solid #09f21d;
}
